.row
  .span12
    = content_tag(:div, "", id: "readings_chart", data: { readings: @readings })

.row{style: "margin-top: 30px; margin-bottom: 30px;"}
  .span3
    .info_box.readings
      %h6 Readings taken
      %p= "#{@readings.count} / 18"
  .span3
    .info_box.average_systolic
      %h6 Average systolic
      %p= @sys_average
  .span3
    .info_box.average_diastolic
      %h6 Average diastolic
      %p= @dys_average
  .span3
    .info_box.pulse
      %h6 Average pulse
      %p= @pulse_average

- if current_patient && params[:action] == 'index' || params[:action] == 'create'
  .row{style: "margin-top: 40px;"}
    .span6
      .well
        %h2 Enter your blood pressure
        %p
          %span.badge.badge-success Step 1
        %p
          Record your blood pressure. Be sure to make a note of systolic, diastolic and your pulse. See helpful tips on the right.
        %p{style: "margin-top: 30px;"}
          %span.badge.badge-success Step 2
        %p
          Enter the readings into the following form:
          = simple_form_for([@patient, @reading], html: { class: 'form-vertical' }) do |f|
            = f.hidden_field :patient_id, value: @patient.id
            = f.input :created_at, as: 'string', label: 'Taken on'
            = f.input :arm, as: :select, collection: %w(Right Left), label: "Which arm did you use?"
            = f.input :systolic, label: 'Systolic pressure', hint: 'The systolic is top/higher figure'
            = f.input :diastolic, label: 'Diastolic pressure', hint: 'The diastolic is the bottom/lower figure'
            = f.input :pulse, label: 'Pulse', hint: 'Beats per minute'
            = f.submit 'Add blood pressure', class: 'btn btn-primary btn-large'
        %p
          %span.badge.badge-success Step 3
        %p
          Check the graph to see how you are doing
    .span6
      .accordion#accordion2
        .accordion-group
          .accordion-heading
            %a.accordion-toggle{"data-parent"=>"accordion2", "data-toggle"=>"collapse", href: "#collapseOne"}
              How to measure your blood pressure
          #collapseOne.accordion-body.collapse
            .accordion-inner
              %p Get started by watching this video all about measuring your blood pressure
              %p Once you have done this get started by entering your first blood pressure on the left
              <iframe width="400" height="400" src="http://www.videojug.com/embed/e645c004-d5d4-b23d-dcce-ff0008c95709" frameborder="0" allowfullscreen></iframe>
          .accordion-heading
            %a.accordion-toggle{"data-parent"=>"accordion2", "data-toggle"=>"collapse", href: "#collapseTwo"}
              Useful links
          #collapseTwo.accordion-body.collapse
            .accordion-inner
              %p
                %a{href: "http://healthguides.mapofmedicine.com/choices/map/hypertension1.html", target: "_blank"}Map of Medicine

      - if current_patient && params[:action] == 'index'
        = link_to "Export readings for your GP", export_patient_readings_path(current_patient), class: "btn btn-large btn-success"

- elsif current_doctor || current_patient && params[:action] == 'export'
  .row
    .span12
      - if @readings.empty?
        %h4 No readings yet for this patient
      - else
        %table.table.table-striped
          %thead
            %tr
              %th Created on
              %th Systolic BP
              %th Diastolic BP
              %th Pulse
              %th Arm
          %tbody
            - @readings.each do |reading|
              %tr
                %td= reading.created_at.to_s(:short) if reading.created_at
                %td= reading.systolic
                %td= reading.diastolic
                %td= reading.pulse
                %td= reading.arm
  .row
    .span12
      .page-header
        %h4 Note to doctor
      %p Please that this table show ALL of the blood pressure taken. In order to see blood pressure over a specific period for this patient please login with you account to BP At Home and set custom to and from dates.

.modal.hide.fade
  .modal-header
    %h3 Printing is easy...
  .modal-body
    %p Just go up to the file menu of your browser and press print!
  .modal-footer
    %a{href: '#', class: 'btn btn-primary', data: { dismiss: 'modal' }} Go it!

- if params[:action] == 'export'
  :javascript
    $(document).ready(function(){
      $('.modal').modal('show');
    });
