.hero-unit
  %h1 Welcome to BP at Home
  %p A simple solution for patient to record their home blood pressures and have them reviewed by their doctor

.row
  .span6
    %h2 Are you doctor?
    %h4 Need to register?
    %p= link_to 'Sign up', new_doctor_path, class: "btn"

    %h4 Sign in
    .login_form 
      = form_tag sessions_path do
        = label_tag :email
        %br
        = text_field_tag :email, params[:email]

        = label_tag :password
        %br
        = password_field_tag :password
        %br
        = submit_tag "Login", class: "btn"
  .span6
    %h2 Are you a patient?
    %p Please enter your unique identifier to login and start entering readings

    .login_form
      = form_tag sessions_path(query: 'patient'), class: 'form-horizontal' do
        = label_tag :identifier
        = text_field_tag :identifier
        %br
        = submit_tag 'Login', class: 'btn'
