.page-header
  %h1= @patient.identifier

.row
  .span12
    - unless @patient.readings.empty?
      = high_chart('doctor_high_chart', @chart)

.row
  .span12
    - if @patient.readings.empty?
      %h4 No readings yet for this patient
    - else
      %table.table
        %caption
        %thead
          %tr
            %th Created on
            %th Systolic BP
            %th Diastolic BP
            %th Pulse
            %th Arm
        %tbody
          - @patient.readings.each do |reading|
            %tr
              %td= reading.created_at.to_s(:short)
              %td= reading.systolic
              %td= reading.diastolic
              %td= reading.pulse
              %td TO DO
