!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "BpAtHome"
    = csrf_meta_tags
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand(href="#") BpAtHome
          .container.nav-collapse
            %ul.nav
              %li
                = link_to root_path do
                  %i.icon-home
                  Home
              - if current_doctor
                %li
                  = link_to doctor_patients_path(current_doctor) do
                    %i.icon-user
                    Patients
            - if current_doctor || current_patient
              %ul.nav.pull-right
                %li
                  = link_to logout_path do
                    %i.icon-off
                    Logout
    .container.inner_page
      .row
        .span12
          - flash.each do |name, msg|
            %div{class: "alert alert-#{ name == :notice ? 'success' : 'error' }"}
              %a{class: "close", data: { dismiss: "alert" }}
              = msg
          = yield
      %footer
